<div class="historico_participaciones" ng-if="promocion.user_actions.length>0">
						<div class="stable historico_cabecera" >
							<div class="row headerTabla">
								<div class="col">{{ "Acción" | translate }}</div>
								<div class="col textCenter">{{ "Participaciones" | translate }}</div>
								<!-- <div class="col">{{ "Fecha" | translate }}</div> -->
							</div>
							<div ng-repeat="user_action in promocion.user_actions"  class="row filaDatos">
								<div class="col">{{ user_action.name }}</div>
								<div class="col textCenter">{{ user_action.participations }}</div>
								<!-- <div class="col">{{ (user_action.date.timestamp*1000) | date : 'yyyy-MM-dd' }}</div> -->
							</div>
							<div class="row headerTabla">
								<div class="col"><strong>{{ "Total" | translate }} <small>({{ "% Probabilidad de ganar" | translate }})</small></strong></div>
								<div class="col textCenter"><strong>{{ promocion.total_participations  }} <small>({{ promocion.probability }}%)</small></strong></div>
								<!-- <div class="col">{{ (user_action.date.timestamp*1000) | date : 'yyyy-MM-dd' }}</div> -->
							</div>
						</div>
	</div>

<h2>{{ "CONSIGUE_MAS_PARTICIPACIONES" | translate }} </h2>
 <div ng-show="promocion.actions[2].participations>0" class="stable padding-top padding-bottom" id="compartirAccion">
		<h3>{{ "Comparte esta promoción y gana" | translate }} <strong>{{ promocion.actions[2].participations }} {{ "participaciones extra cuando un amigo tuyo se inscriba en la promoción" | translate}}</strong></h3>
	<button class="button icon-left ion-android-share-alt boton-secundario" ng-click="share(promocion)">{{ "Compárteme!" | translate }}</button>
</div>
<div ng-show="promocion.actions[4].participations>0" class="stable padding-top padding-bottom" id="facebookAccion">
	<h3>{{ "Inicia sesión con Facebook y gana" | translate }} <strong>{{ promocion.actions[4].participations }} {{ "participaciones" | translate }}</strong></h3>
	<button class="facebook-sign-in button button-block" ng-click="doFacebook(promocion.id)">{{ "Iniciar sesión con Facebook" | translate }}</button>     
</div>
<div ng-show="promocion.actions[5].participations>0" class="padding-top stable" id="datosAccion">
	<h3>{{ "Completa tus datos y gana" | translate }} <strong>{{ promocion.actions[5].participations }} {{ "participaciones" | translate }}</strong></h3>
	<div class="formulario-misdatos" style="margin-top:10px" ng-include="'templates/misdatos.html'"></div>
</div>