<ion-view view-title='{{ "Mi cuenta" | translate }}' name="menuContent">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
<div class="list promoFicha">
  <div class="item item-body">
  <form id="accountForm" novalidate ng-submit="doAccountUpdate()" name="accountForm" >
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{"Correo electrónico" | translate }}</span>
        <input type="email" name="email" ng-model="user.email" value="user.email" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{"Contraseña" | translate }}</span>
        <input name="password" type="password" placeholder="" ng-model="password" ng-minlength="4" required>
         <span style="color:red" ng-show="accountForm.password.$dirty && accountForm.password.$invalid" >
            <span ng-show="accountForm.password.$error.minlength">{{ "La contraseña debe tener mínimo 4 caracteres" | translate }}</span>
        </span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{"Confirmar contraseña" | translate }}</span>
        <input type="password" name="password_repeat" placeholder="" ng-model="password_repeat" mypasswordrepeat >
         <span style="color:red" ng-show="accountForm.password_repeat.$invalid" >
            <span ng-show="accountForm.password_repeat.$invalid">{{ "Las contraseñas no coinciden" | translate }}</span>
        </span>
      </label>
      <label class="item item-input item-select">
          <div class="input-label" >{{"Idioma" | translate }}</div>
          <select ng-change="switchLanguage(lang)" ng-model="lang">
            <option value='es' >Castellano</option>
            <option value='eu' >Euskara</option>
          </select>
      </label>
      <div class="error" ng-show="validation_reg" ng-model="validation_reg" ng-bind-html="validation_errors_reg"></div>
      <div class="saved" ng-show="saved" ng-model="validation_reg" ng-bind-html="saved_msg"></div>
      <button ng-disabled="accountForm.email.$invalid || accountForm.password.$invalid || accountForm.password_repeat.$invalid || accountForm.password_repeat.$pristine" class="button boton-marca">{{ "Guardar" | translate }}</button>
  </form>

    <h3>{{ "Completa tus datos" | translate }}</h3>
    <div class="acciones" ng-include="'templates/misdatos.html'"></div>

    <h3>{{ "eliminar_cuenta" | translate }}</h3>
    <div>
      <button class="button boton-marca" ng-click="eliminar_cuenta()" >{{ "ELIMINAR_CUENTA" | translate }}</button>
    </div>
</div>
</div>
  </ion-content>
</ion-view>
