<ion-modal-view ng-click="modal.hide()">
        <ion-header-bar class="bar bar-header bar-stable">
          <h1 class="title">{{ page.title }}</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">{{ "Cerrar" | translate }}</button>
        </ion-header-bar>
        <ion-content class="padding" ng-bind-html="page.html">
        </ion-content>
      </ion-modal-view>