<form ng-if="promocion.user_actions.length==0" class="ng-valid ng-submitted ng-dirty ng-valid-parse" id="inscripcionForm" ng-submit="doInscripcion()" name="inscripcionForm" >
	<label ng-if="user.iduser==undefined" class="item item-input item-stacked-label">
		<span class="input-label">{{ "Correo electrónico" | translate }}</span>
		<input type="email" value="" placeholder="info@promokiss.com" ng-model="userfields['email']" name="input" required>
	</label>

	<div ng-if="promocion.formulary!=undefined" class="campos">
		<div ng-repeat="(key,field) in promocion.formulary.standard_fields" class="standard">
				<label ng-if="field.field_type==1" class="item item-input item-stacked-label">
					<span class="input-label">{{ field.name }} <span class="required" ng-if="field.required">*</span></span>
					<input ng-if="key!='provincia' && key!='localidad'" type="text" value="" ng-model="userfields[key]" id="{{ key }}" placeholder="" name="input" ng-required="{{ field.required }}">

					<input ng-if="key=='provincia'" items-method="ProvinciasModel(query)" cancel-label="{{ 'Cerrar' | translate }}" ion-autocomplete max-selected-items="1" readonly="readonly" class="ion-autocomplete" autocomplete="off" type="text" value="" ng-model="userfields[key]" id="{{ key }}" placeholder="{{ 'Seleccione una de la lista' | translate }}" name="input" ng-model-options="{debounce:500}" ng-required="{{ field.required }}">

					<input ng-if="key=='localidad'" cancel-label="{{ 'Cerrar' | translate }}" items-method="PoblacionesModel(query)" cancel-label="{{ 'Cerrar' | translate }}" ion-autocomplete max-selected-items="1" readonly="readonly" class="ion-autocomplete" autocomplete="off" type="text" value="" ng-model="userfields[key]" ng-model-options="{debounce:500}" id="{{ key }}" placeholder="{{ 'Seleccione una de la lista' | translate }}" name="input" ng-required="{{ field.required }}">
				</label>

				<label ng-if="field.field_type==2" class="item item-input item-select">
					<div class="input-label">
					  {{ field.name }} <span class="required" ng-if="field.required">*</span>
					</div>
					<select ng-init="userfields[key]=-1" ng-model="userfields[key]" name="select" ng-required="{{ field.required }}">
					  <option ng-repeat="(id,opt) in field.options"  value='{{ opt.id }}'>{{ opt.value }}</option>
					</select>
				</label>
		</div>

		<div ng-repeat="(key,field) in promocion.formulary.fields" class="custom">
				<label ng-if="field.field_type.type==1" class="item item-input item-stacked-label">
					<span class="input-label">{{ field.name }} <span class="required" ng-if="field.required">*</span></span>
					<input type="text" value="" class="input" ng-model="fields[field.id]" name="fields[{{ field.id }}]" ng-required="{{ field.required }}">
				</label>


				<div class="select-input" ng-if="field.field_type.type==2" >
					<div class="row">
				  		{{ field.name }} <span class="required" ng-if="field.required">*</span>
					</div>
					<div class="row">
						<select class="select" ng-model="fields[field.id]" class="select" name="select" ng-required="{{ field.required }}" required>
						  <option value="">{{ "--Elige una opción--" | translate }}</option> 
						  <option ng-repeat="(id,opt) in field.options"  value='{{ opt.id }}'>{{ opt.value }}</option>
						</select>
				 	</div>
				</div>
				

				 <div>
					<multiselect ng-init="validated(field.id)" ng-if="field.field_type.type==3"
					  required="{{ field.required }}"
					  header-text="{{ field.name }}"
					  items="field.options"
					  text-property="value"
					  value-property="id"
					  is-translate="false"
					  index-translate=""
					  text='{{ field.name }}'
					  modal-template-url="templates/multiple-modal-template.html"
					  template-url="templates/multiple-template.html"
					  note-text="{{ field.name }}"
					  value-changed="onValueChanged(field.id,value,field.required)">
					</multiselect>
				</div>

				<div ng-if="field.field_type.type==4" class="fileUpload">
					  <label id="files_{{field.id}}" >{{ field.name }}</label>
					  <input type="file" accept="image/*"  capture="camera" class="upload" field="{{field.id}}"  name="files_{{field.id}}" file-upload ng-required="{{ field.required }}" />
				</div>

				<div ng-if="field.field_type.type==5" class="fileUpload">
					  <label id="files_{{field.id}}">{{ field.name }}</label>
					  <input type="file" class="upload" field="{{field.id}}"  name="files_{{field.id}}" file-upload ng-required="{{ field.required }}"/>
				</div>

		</div>
  </div>

   <div class="error" ng-show="validation" ng-model="validation" ng-bind-html="validation_errors"></div>
	<div class="condiciones" >
		<ion-checkbox class="left stable check_condiciones" ng-change="check()" id="checkCondicionesPromocion" name="checkCondicionesPromocion" ng-model="checkCondicionesPromocion"></ion-checkbox><a class="condicionesLinkFicha" ng-click="showCondicionesSorteo(promocion.conditions)" translate="{{ 'ACEPTO_CONDICIONES' }}"></a> {{ "y" | translate }} <a class="condicionesLinkFicha" ng-click="showCondicionesPromokiss()" translate="{{ 'ACEPTO_CONDICIONES_PROMOKISS' }}"></a>
	</div>

	<button type="submit" ng-disabled="!validated_bool || inscripcionForm.select.$pristine || inscripcionForm.input.$error.required || inscripcionForm.input.$invalid || checkCondicionesPromocion==false" class="button boton-marca">{{ "Inscribirme" | translate }}</button>
</form>