<ion-view view-title='{{ "Iniciar sesión" | translate }}' name="menuContent">
<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>

<div id="inicioSesion">

	<h2>{{ "Inicio de sesión" | translate}}</h2>

	


	<form class="ng-valid ng-submitted ng-dirty ng-valid-parse" id="loginForm" novalidate ng-submit="doLogin()" name="loginForm" >

			<label class="item item-input item-stacked-label">
				<span class="input-label">{{"Correo electrónico" | translate }}</span>
				<input type="email" required name="email" placeholder="" ng-model="email">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">{{"Contraseña" | translate }}</span>
				<input id="password" name="password" required type="password" placeholder="" ng-model="password" ng-minlength="4" required>
				<span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid" >
						<span ng-show="loginForm.password.$error.minlength">{{ "La contraseña debe tener mínimo 4 caracteres" | translate }}</span>
				</span>
			</label>
			 <div class="error" ng-show="validation" ng-model="validation" ng-bind-html="validation_errors"></div>
			<button ng-disabled="loginForm.email.$invalid" class="button boton-marca">{{ "Iniciar sesión" | translate }}</button>
			
	</form>

	<button class="facebook-sign-in button button-block" ng-click="doFacebook()">{{ "Iniciar sesión con facebook" | translate }}</button>
</div>

<div id="registroUser">

	<h2>{{ "Registro" | translate}}</h2>
	<form id="registerForm" novalidate ng-submit="doRegister()" name="registerForm" >

			<label class="item item-input item-stacked-label">
				<span class="input-label">{{"Correo electrónico" | translate }}</span>
				<input type="email" name="email" placeholder="" ng-model="emailR" required>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">{{"Contraseña" | translate }}</span>
				<input name="password" type="password" placeholder="" ng-model="passwordR" ng-minlength="4" required>
				 <span style="color:red" ng-show="registerForm.password.$dirty && registerForm.password.$invalid" >
						<span ng-show="registerForm.password.$error.minlength">{{ "La contraseña debe tener mínimo 4 caracteres" | translate }}</span>
				</span>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">{{"Confirmar contraseña" | translate }}</span>
				<input type="password" name="password_repeat" placeholder="" ng-model="password_repeat" passwordrepeat >
				 <span style="color:red" ng-show="registerForm.password_repeat.$invalid" >
						<span ng-show="registerForm.password_repeat.$invalid">{{ "Las contraseñas no coinciden" | translate }}</span>
				</span>
			</label>
			<div class="error" ng-show="validation_reg" ng-model="validation_reg" ng-bind-html="validation_errors_reg"></div>

			
			<div class="condiciones">
					<ion-checkbox class="stable check_condiciones" ng-change="check()" ng-model="checkCondicionesPromokiss"></ion-checkbox>   
					<p class="padding-horizontal condicionesLink"><a class="condicionesLinkFicha" ng-click="showCondicionesPromokiss()" >{{ "ACEPTO_CONDICIONES_PROMOKISS" | translate }}</a></p>
			</div>
			<button ng-disabled="checkCondicionesPromokiss==0 || registerForm.email.$invalid || registerForm.password.$invalid || registerForm.password_repeat.$invalid || registerForm.password_repeat.$pristine" class="button boton-marca">{{ "Registrar" | translate }}</button>
			
	</form>
</div>
	</ion-content>
</ion-view>
