<ion-side-menus>

	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			 <ion-nav-back-button></ion-nav-back-button>
			 <ion-nav-buttons  side="right">
				<button  class="button icon-left ion-android-share-alt" ng-click="share(promocion)" >
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content class="has-header">
			<ion-list>
			 <ion-item menu-close href="#/app/promociones" class="menuPromociones"><i class='ion-bookmark'></i>
					{{ "Promociones" | translate }}
				</ion-item>
				<ion-item ng-show="!login" menu-close href="#/app/login" class="menuInicioSesion"><i class='ion-locked'></i>
					{{ "Iniciar sesión" | translate }}
				</ion-item>
				
				
				
				<ion-item ng-repeat="page in menu" menu-close class="menuSalir" ng-click="goToPage(page)" >
					<i class='ion-help'></i>{{ page.title }}
				</ion-item>
				
				<ion-item ng-show="login" menu-close href="#/app/account" class="menuMiCuenta micuenta"><i class='ion-person'></i>
					{{ "Mi cuenta" | translate }}
				</ion-item>
				 <ion-item ng-show="login" menu-close href="#/app/mispromociones" class="menuMisPromos micuenta"><i class='ion-folder'></i>
					{{ "Mis Promociones" | translate }}
				</ion-item>
				<ion-item ng-show="login" menu-close ng-click="logout()" class="menuSalir micuenta"><i class='ion-power'></i>
					{{ "Terminar sesión" | translate }}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>
