<ion-view view-title="{{promocion.title}}" name="menuContent">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-content class="padding">
				<div class="list promoFicha">
				<div id="imagenPromo"><img class="" ng-src="{{myConfig.URL}}/{{promocion.image}}" ng-click="showImage(promocion.image)" ></div>
				<div class="item item-body">
				<h2>{{promocion.title}}</h2>
					<div ng-bind-html="to_trusted(promocion.description)"></div>
          			<div class="datosPromo">
			          <p class="fecha"><i class="icon ion-ios-clock-outline"></i> {{ quedan(promocion.end_date) }}</p>
			          <p class="participantes"><i class="icon ion-ios-person"></i> {{ promocion.participations }} {{ "participaciones enviadas" | translate }} </p>
			          <p class="ganadores"><i class="icon ion-ios-people"></i> {{ promocion.winners }} {{ "irabazle" | translate }}</p>
        			</div>
					


					
					<div class="historico_participaciones">
						<div class="stable historico_cabecera" >
							<div class="row headerTabla">
								<div class="col">{{ "Acción" | translate }}</div>
								<div class="col textCenter">{{ "Participaciones" | translate }}</div>
								<!-- <div class="col">{{ "Fecha" | translate }}</div> -->
							</div>
							<div ng-repeat="user_action in promocion.user_actions"  class="row filaDatos">
								<div class="col">{{ user_action.name }}</div>
								<div class="col textCenter">{{ user_action.participations }}</div>
								<!-- <div class="col">{{ (user_action.date.timestamp*1000) | date : 'yyyy-MM-dd' }}</div> -->
							</div>
							<div class="row headerTabla">
								<div class="col"><strong>{{ "Total" | translate }} <small>({{ "% Probabilidad de ganar" | translate }})</small></strong></div>
								<div class="col textCenter"><strong>{{ promocion.total_participations  }} <small>({{ promocion.probability }}%)</small></strong></div>
								<!-- <div class="col">{{ (user_action.date.timestamp*1000) | date : 'yyyy-MM-dd' }}</div> -->
							</div>
						</div>
					</div>
					<div class="acciones" ng-include="'templates/acciones.html'"></div>
				</div>

			</div>
		 
	</ion-content>
</ion-view>
