<form class="ng-valid ng-submitted ng-dirty ng-valid-parse" id="misDatosForm" ng-submit="doMisDatosUpdate(promocion.id)" name="misDatosForm" >


	<div class="campos">
		<div ng-repeat="(key,field) in complete_fields" class="standard">
				<label ng-if="field.field_type==1" class="item item-input item-stacked-label">
					<span class="input-label">{{ field.name | translate }} <span class="required" ng-if="field.required">*</span></span>
					<input ng-if="key!='localidad'" type="text" ng-value="user.usuario_data[key]" ng-model="userfields[key]" id="{{ key }}" placeholder="" name="input" ng-required="{{ field.required }}" >

					<input ng-if="key=='localidad'" cancel-label="{{ 'Cerrar' | translate }}" items-method="PoblacionesModel(query)" cancel-label="{{ 'Cerrar' | translate }}" ion-autocomplete max-selected-items="1" readonly="readonly" class="ion-autocomplete" autocomplete="off" type="text" ng-model="userfields[key]" ng-model-options="{debounce:500}" id="{{ key }}" ng-value="user.usuario_data[key]" placeholder="{{ 'Seleccione un municipio de la lista' | translate }}" ng-required="{{ field.required }}">
					<small class="annotation" ng-if="field.annotation">{{ field.annotation }}</small>
				</label>
				<label ng-if="field.field_type==2" class="item item-input item-select">
					<div class="input-label">
					  {{ field.name | translate}} <span class="required" ng-if="field.required">*</span>
					</div>
					<select ng-model="userfields[key]" ng-options="c.id as c.value for c in field.options"></select>
					
				</label>

				<div ng-if="field.field_type==3" class="item item-input item-stacked-label">
					<span class="input-label">{{ field.name | translate}} <span class="required" ng-if="field.required">*</span></span>
					<div class="row" >
						<div class="col col-4 input-font">
						  {{ "Día" | translate}} <span class="required" ng-if="field.required">*</span>
						  <select  ng-options="day for day in dias track by day" ng-model="userfields['nacimiento_dia']" ></select>
						  
						</div>
						<div class="col col-4 input-font">
						  {{ "Mes" | translate}} <span class="required" ng-if="field.required">*</span>
						  <select  ng-options="mes for mes in meses track by mes" ng-model="userfields['nacimiento_mes']" ></select>
						</div>
						<div class="col col-4 input-font">
						  {{ "Año" | translate}} <span class="required" ng-if="field.required">*</span>
						  <select  ng-options="ano for ano in anos track by ano" ng-model="userfields['nacimiento_ano']" ></select>
						</div>
					</div>
				</div>
				
		</div>
  </div>
   <div class="error" ng-show="validation" ng-model="validation" ng-bind-html="validation_errors"></div>
	<button type="submit" ng-disabled="misDatosForm.input.$error.required" class="button boton-marca">{{ "Enviar" | translate }}</button>
</form>