<ion-view view-title='{{ "Mis Promociones" | translate }}'>
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
  <div class="stable" ng-show="myList.length==0">
  <h5 class="stable">{{ "Aún no te has inscrito en ninguna promoción" | translate }}</h5>
  </div>
   <ion-refresher  ng-show="myList.length" on-refresh="doRefresh()"
                       pulling-text='{{ "Actualizando..." | translate}}'
                       refreshing-text='{{ "Actualizando!" | translate}}'
                       refreshing-icon="ion-loading-c">              
  </ion-refresher>
    <ion-list class="promociones">
      <ion-item class="promocion item-remove-animate" ng-repeat="promocion in myList" type="item-text-wrap" href="#/app/mispromociones/{{promocion.id}}">
        <div>
          <img image-lazy ng-src="{{myConfig.URL}}/{{promocion.image}}" />
          <h2 class="stable promodescript">{{promocion.title}}</h2>
          <p class="promodescript">{{ promocion.description }}</p>
          <p class="fecha"><i class="icon ion-ios-clock-outline"></i> {{ quedan(promocion.end_date) }}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-show="myList.length"
      on-infinite="loadMore()"
      distance="1%"
      icon="ion-loading-c"
      ng-if="moreDataCanBeLoaded()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
