<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <button class="button button-stable button-icon ion-ios-arrow-back" ng-click="hideItems()" />
    <h1 class="title">{{headerText}}</h1>
    <button class="button button-stable button-icon ion-checkmark" ng-click="validate()" />
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item-checkbox" ng-repeat="item in items">
        <label class="checkbox">
          <input type="checkbox" ng-checked="item.checked" ng-model="item.checked">
        </label>
        <div>
          {{ $eval('item.' + textProperty) }} 
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-modal-view>