<ion-list>
  <ion-item ng-click="showItems($event)">
    <div ng-repeat="item in text | showTextData:this track by $index">
      {{ item }}
    </div>
    <div class="item-note" >{{ noteText }}<span class="required" ng-if="required">*</span></div>
  </ion-item>
</ion-list>