<ion-view view-title="{{page.title}}" name="menuContent">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-content >
		<div class="list promoFicha">
			<div class="item item-body">
				<h2>{{page.title}}</h2>
				<div ng-bind-html="page.html"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
