<ion-view view-title='Promokiss'>
<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content lazy-scroll>
	 <ion-refresher  ng-show="list.length" on-refresh="doRefresh()"
											 pulling-text='{{ "Actualizando..." | translate}}'
											 refreshing-text='{{ "Actualizando!" | translate}}'
											 refreshing-icon="ion-loading-c">              
	</ion-refresher>
		<ion-list class="promociones">
			<ion-item class="light promocion item-remove-animate" ng-repeat="promocion in list" type="item-text-wrap" href="#/app/promociones/{{promocion.id}}">
				<div>
					<img image-lazy ng-src="{{myConfig.URL}}/{{promocion.image}}" />
					<h2 class="stable promodescript">{{promocion.title}}</h2>
					<p class="promodescript">{{ promocion.description }}</p>
					<p class="fecha"><i class="icon ion-ios-clock-outline"></i> {{ quedan(promocion.end_date) }}</p>
				
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
			ng-show="list.length"
			on-infinite="loadMore()"
			distance="1%"
			icon="ion-loading-c"
			ng-if="moreDataCanBeLoaded()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
