<!--
	This template loads for the 'tab.friend-detail' state (app.js)
	'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
	The FriendsCtrl pulls data from the Friends service (service.js)
	The Friends service returns an array of friend data




	{{ "La promoción finaliza el:" | translate}} {{ (promocion.enddate.timestamp*1000) | date : 'yyyy-MM-dd HH:mm' }}
-->
<ion-view view-title="{{promocion.title}}" name="menuContent">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-content ng-class="removePadding(promocion.premium)" >
	
		<div ng-if="promocion.premium==1">
				<div ng-bind-html="to_trusted(promocion.description)"></div>
				<div class="list">
					<div ng-if="finalizada(promocion.end_date)" class="item item-body">
						<div class="formulario" ng-include="'templates/formulario.html'"></div>
						<div class="acciones" ng-if="displayShare" ng-include="'templates/acciones.html'"></div>
					</div>
					<div ng-if="finalizada(promocion.end_date)==false" class="item item-body">
						{{ "FINALIZADA" | translate }}

						<div ng-if="promocion.winners_list" class="ganadores infoPromo">
							<h2>{{ "Ganador/es" | translate }}</h2>
							<p class="ganadores" ng-repeat="ganador in promocion.winners_list">{{ ganador.imprimir }}</p>
						</div>
					</div>
				</div>
		</div>
		
		<div ng-if="promocion.premium==0" class="list promoFicha">
			<div id="imagenPromo"><img class="" ng-src="{{myConfig.URL}}/{{promocion.image}}" ng-click="showImage(promocion.image)" ></div>
			<div class="item item-body">
				<h2>{{promocion.title}}</h2>
				<div class="datosPromo">
					<p class="fecha"><i class="icon ion-ios-clock-outline"></i> {{ quedan(promocion.end_date) }}</p>
					<p class="participantes"><i class="icon ion-ios-person"></i> {{ promocion.participations }} {{ "participaciones enviadas" | translate }} </p>
					<p class="ganadores"><i class="icon ion-ios-people"></i> {{ promocion.winners }} {{ "ganadores" | translate }}</p>
						<div ng-if="menos30dias(promocion.end_date) && finalizada(promocion.end_date)==false && promocion.winners_list.length>0" class="ganadores infoPromo">
							<h3>{{ "Ganador/es" | translate }}</h3>
							<p ng-repeat="ganador in promocion.winners_list">{{ ganador.imprimir }}</p>
						</div>
				</div>
				<div class="infoPromo">
					<h3>{{"Información de la promoción" | translate }}</h3>
					<div ng-bind-html="to_trusted(promocion.description)"></div>
				</div>	
				<div ng-if="finalizada(promocion.end_date)" id="inscripciones-acciones">
					<div class="inscripcionPromo">
						<h3>{{"Inscripción" | translate }}</h3>
						<div class="formulario" style="margin-top:10px" ng-include="'templates/formulario.html'"></div>
					</div>
					<div class="acciones" ng-if="displayShare" ng-include="'templates/acciones.html'"></div>
				</div>
					
			</div>
			
		</div>

	</ion-content>
</ion-view>
