/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$grisFondo:							#f6f6f6;
$grisOscuro:						#242424; 
$promokiss:							#E3006A;

$stable:							$grisOscuro !default;
$checkbox-on-bg-stable:				#E3006A !default;
$checkbox-off-border-stable:		#E3006A !default;
$checkbox-on-bg-default:			$stable !default;
$checkbox-on-border-default:		$stable !default;
$bar-stable-text:					#FFF;
$button-stable-text:				#FFF;
$font-size-base:					16px !default;
$menu-bg:							#333 !default;
$bar-stable-border:					none!default; 



$font-family-sans-serif:           'Source Sans Pro', '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "custom/custom";
@import "custom/listadoPromos";
@import "custom/promo";


body { background: $grisFondo; font-size: 16px;  }

.scroll-content { background: $grisFondo; padding: 1em; }

.item {
	h2 { font-size: 18px; }
	p { font-size: 16px; }
}

.menu-left {
	.scroll-content { background: #333;  padding: 1em; }
	.list { 
		.item { background: none; color: #fff; text-transform: uppercase; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #444; padding: 0; 
			i { margin-right: 1em; }
			a { background: none; padding: 1em 0; }
			&.menuSalir { padding: 1em 0; }
		}
	}
}

.check_condiciones{display:inline;float:left;width:30px}
#inscripcionForm .item{white-space:normal}
#inscripcionForm .input-label{width:100%;}

.menuMiCuenta { margin-top: 1em; padding-top: 1em; border-top: 1px solid #666!important; }