a {color: #E3006A; }

.image-list-thumb { padding: 2px 2px 2px 2px; height: 100px; }
 
.image-modal { width: 100% !important; height: 100%; top: 0 !important; left: 0 !important; }
 
.transparent { background: transparent !important; }
 
.fullscreen-image { max-width: 100%; max-height: 100%; bottom: 0; left: 0; margin: auto; overflow: auto; position: fixed; right: 0; top: 0; }
.error{ color:red; }

.item{border:none !important;}
.promociones ion-item.item-complex .item-content{padding:0;}
.promociones ion-item.item h2.promodescript,.promociones ion-item.item p.promodescript{overflow:visible !important;white-space:normal !important;}
.required{color:red;}

.item .item-content.activated {     border-color: #ccc;   background-color: #fff;}

.facebook-sign-in { background: #3b5998; color: #fff; text-transform: uppercase; font-size: .9em; border-radius: 50px; }

.boton-marca { background: $promokiss; color: #fff; text-transform: uppercase; font-size: .9em; border-radius: 50px; padding: 0 2em; display: block; margin: 1em auto 1em auto; }

.boton-secundario { background: #000; color: #fff; text-transform: uppercase; font-size: .9em; border-radius: 50px; padding: 0 2em; display: block; margin: 1em auto 1em auto; }

.item-stacked-label { border: none; padding: 0; margin: 0 0 1em 0; }

.textCenter { text-align: center; }

.overflow-scroll > .scroll.overscroll { position: fixed; right: 1em; left: 1em; width: calc(100% - 2em); }

#loginForm, #registerForm { background: #fff; padding: 1em; 
	
}

#inicioSesion,  #registroUser { 
	h2 { text-align: center; text-transform: uppercase; font-weight: 600; font-size: 1.2em; margin: 0 0 1.5em 0; color: #535353;
		&:after { content:""; height: 1px; width: 50px; background: #535353; display: block; left: 50%; position: relative; transform: translateX(-50%); margin-top: .5em; }
	}
}

#inicioSesion { margin-bottom: 3em;  
	#loginForm { margin-bottom: 2em; }
}

#registroUser { margin-bottom: 1em; }

form {
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { border: 1px solid #d4d4d4; padding: 0 1em; }
	.input-label { font-size: .8em; text-transform: uppercase; margin-bottom: .5em; }
}

#accountForm {
	button { margin-top: 2em; }
}

.fileUpload { position: relative; overflow: hidden; margin: 0 0 1em 0; width:100%; color: #000; text-align:center; background: #ccc; cursor: pointer; display: inline-block;  text-transform: uppercase; padding: .5em 1em; position: relative; text-align: center;
	label{ color: #444; font-size: .8em;
		&:before { content:"\f147"; display: block; font-family: "Ionicons"; font-size: 2em; }
	}
	input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0;  cursor: pointer; opacity: 0; width:100%; filter: alpha(opacity=0); }
}

.condiciones { 
	label { border: none; }
	.item-content { white-space: normal; }
}

.condicionesLink { text-align: center; margin-top: 2em!important; font-size: .85em!important;
	a {color: #666;  }
}

.condicionesLinkFicha { text-align: left; margin-top: 0!important; font-size: .85em!important;
	a {color: #666; padding-left: 60px;  }
}

.menu-open {
	.menu-content {
		.scroll-content.has-header { opacity: .1; transition: all .3s ease; 
			// &:after { content:""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 9999;; }
		}
	}
}

form .input-label{text-transform: none !important}
.input-label{max-width:600px !important;}
.select-input{margin-bottom:20px;font-size: 0.8em;}
.input-font{font-size: 0.8em;}