.promocion { margin: 0 0 2em 0; text-align: center; 
	a {
		img { width: 100%; height: auto; margin: 0 auto; display: block;  }
		h2.promodescript{ background: #fff;color: #000; padding: 1em; font-weight: 600; text-transform: uppercase; }
		p.fecha { margin: 0 0 1em 0; 
			i { color: $promokiss; }
		}
	}

	.fecha{padding-top:10px}
	
}
