.promoFicha { 
	#imagenPromo {
		img { width: 100%; height: auto; float: left; } 
	}

	h2 { background: #fff;color: #000; font-weight: 700; text-transform: uppercase; font-size: 20px!important; }

	h3 { background: #fff;color: #000; font-weight: 600; text-transform: uppercase; font-size: 16px; }

	.datosPromo { margin: 0 0 2.5em 0; 
		.fecha, .participantes, .ganadores { margin: 0 0 0.25em 0;
			i { color: $promokiss; }
		}
	}

	.inscripcionPromo { margin-top: 2.5em; }
}

.headerTabla { background: $grisOscuro; color: #fff; text-transform: uppercase; font-size: .85em; }
.filaDatos { background: #fff; border-bottom: 1px solid #ccc; padding: .5em 0; }

.acciones {
	h2 { margin: 2em 0 0 0; }
	h3 { text-transform: none; font-weight: 400; 
		strong { font-weight: 600; }
	}
	
	#compartirAccion, #facebookAccion { border-bottom: 1px solid #ccc; }
}
.no-padding{padding:0 !important;}