a {
  color: #E3006A !important;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.error {
  color: red;
}

.check_condiciones {
  font-size: 11px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  background-color: #E3006A;
  color: #FFF;
  text-align: center;
  background-color: #e3006a;
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  min-height: 30px;
  min-width: 52px;
  padding: 0 5px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
}

.fileUpload label {
  color: #FFF;
  font-weight: 600;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  filter: alpha(opacity=0);
}

.promociones .item {
  border: none !important;
}

.promociones ion-item.item-complex .item-content {
  padding: 0;
}

.promociones ion-item.item h2.promodescript {
  overflow: visible !important;
  white-space: normal !important;
}

.promociones h2.promodescript {
  background-color: #FFF;
  margin-top: -55px;
  opacity: 0.7;
  padding: 5px;
  font-weight: bold;
  height: 50px;
  vertical-align: center;
}

.required {
  color: red;
}

